# Dependencies
node_modules/
dist/
coverage/

# Environment
.env
.env.local
.env.prod
.env.example

# Logs
logs
*.log
npm-debug.log*

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/